{{ include ('default/parts/headerStyle.html.twig') }}
<body style="background-color: #212331;">
        {{ include ('default/parts/header.html.twig') }}
        {% if app.user and is_granted('ROLE_ADMIN') and app.request.attributes.get('_route') in ['admin_panel', 'admin_category', 'admin_create', 'admin_edit'] %}
            {{ include ('adminPanel/adminPanel.html.twig') }}
        {% endif %}
        {% block body %}{% endblock %}
        {{ include ('default/parts/footer.html.twig') }}
</body>

// Script personalizat pentru a activa dropdown-ul
<script>
        $(document).ready(function(){
                $('.dropdown-toggle').click(function(e) {
                        var $el = $(this).next('.dropdown-menu');
                        var isVisible = $el.is(':visible');

                        // Închide toate dropdown-urile deschise
                        $('.dropdown-menu').slideUp('400');

                        // Dacă dropdown-ul nu era vizibil, îl deschide
                        if (!isVisible) {
                                $el.stop(true, true).slideDown('400');
                        }
                        e.stopPropagation();
                });

                // Închide dropdown-ul dacă faci click în altă parte pe pagină
                $(document).click(function(e) {
                        if (!$(e.target).closest('.dropdown').length) {
                                $('.dropdown-menu').slideUp('400');
                        }
                });
        });
</script>
